{#
/**
 * @file
 * Theme implementation for KoRe lineage/continuum paragraphs displayed as list items.
 *
 * Used for: kore_continuum, kore_lineage.
 *
 * Renders as <li> for semantic list structure within field--node--kore-school.
 * Includes link to related school node when node_id is set by preprocess.
 *
 * @see template_preprocess_paragraph()
 * @see field--node--kore-school.html.twig
 */
#}
{%
  set classes = [
    'kore--field-item',
    'paragraph',
    'paragraph--type--kore',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
<li{{ attributes.addClass(classes) }}>
  <span class="kore--content">
    {{ content|without('field_kore_school', 'field_kore_start_year', 'field_kore_end_year') }}{% if node_id %} <a href="{{ path('entity.node.canonical', {'node': node_id}) }}">{{ node_title }}</a>{% else %} {{ content.field_kore_school }}{% endif %}
  </span>
  <span class="kore--date">
    {{ (content.field_kore_start_year != '9999') ? content.field_kore_start_year : '' }}
    {% if content.field_kore_end_year is defined %}
      ⟶ {{ (content.field_kore_end_year != '9999') ? content.field_kore_end_year : '' }}
    {% endif %}
  </span>
</li>
