{#
/**
 * @file
 * Theme override for taxonomy field displayed as search links.
 *
 * Taxonomy terms are rendered as clickable links that lead to the search page.
 * For filter fields (field_phenomena, field_neighbourhoods, field_formats),
 * links use filter parameters (e.g., ?phenomena=Term). For other fields,
 * links use keyword search (e.g., ?q=Term).
 *
 * Custom Twig functions from helhist_search module:
 * - search_url(field_name, value): Generates appropriate search URL
 *
 * @see template_preprocess_field()
 * @see \Drupal\helhist_search\Twig\SearchLinkExtension
 */
#}
{%
  set title_classes = [
    'label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
{% else %}
  <div class="hdbt_taxonomy__wrapper">
    <h3{{ title_attributes.addClass(title_classes) }} id={{ field_name }}>{{ label|t({}, {'context': 'Content'}) }}</h3>
    <div class="hdbt_taxonomy" aria-labelledby={{ field_name }}>
      {% for item in items %}
        <a href="{{ search_url(field_name, item.content|render|striptags|trim) }}"><span>{{ item.content }}</span></a>
      {% endfor %}
    </div>
  </div>
{% endif %}
