{#
/**
 * @file
 * Theme override for taxonomy field displayed as search links or text.
 *
 * @see \Drupal\helhist_search\SearchLinkGenerator::FILTER_FIELD_MAPPING
 * @see \Drupal\helhist_search\SearchLinkGenerator::TEXT_ONLY_FIELDS
 */
#}
{%
  set title_classes = [
    'label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
{% else %}
  <div class="hdbt_taxonomy__wrapper">
    <h2{{ title_attributes.addClass(title_classes) }} id={{ field_name }}>{{ label|t({}, {'context': 'Content'}) }}</h3>
    <div class="hdbt_taxonomy" aria-labelledby={{ field_name }}>
      {% for item in items %}
        {% set url = search_url(field_name, item.content|render|striptags|trim) %}
        {% if url %}
          <a href="{{ url }}"><span>{{ item.content }}</span></a>
        {% else %}
          <span>{{ item.content }}</span>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
