<div class="map-lift">
  {% embed "@hdbt/misc/container.twig" with {container_element: 'block'} %}
    {% block container_content %}
      <div class="map-lift__subtitle">{{ 'Map'|t }}</div>
      <h2 class="map-lift__title">{{ 'Explore historical places by location'|t }}</h2>
      <p class="map-lift__description">{{ 'You can find historical places and events in Helsinki with our interactive map'|t }}</p>
      <div class="map-lift__image">
        <a href="{{ map_node_url }}">
          <img src="{{ base_path ~ directory }}/src/images/map-comparison.jpg" alt="" role="presentation" />
          <span class="visually-hidden">{{ 'Go to interactive map'|t }}</span>
        </a>
      </div>
      {% set map_link_attributes = {
        'class': [
          'hds-button',
          'hds-button--primary',
          'map-lift__link',
        ]
      } %}
      {% set map_link_title %}
        <span class="hds-button__label">{{ 'Explore interactive map'|t }}</span>
      {% endset %}
      {{ link(map_link_title, map_node_url, map_link_attributes) }}
    {% endblock %}
  {% endembed %}
</div>
