<div class="map-controls__top-container comparison-map">
  <div class="hds-text-input map-controls__mid-container hds-text-input">
    <select class="map-controls__map-layer comparison-map hds-text-input__input" aria-label="{{ 'Map layer selector'|t({}, {'context' : 'Map selectors'}) }}" data-placeholder="{{ 'Maps'|t({}, {'context' : 'Map selectors'}) }}">
      {% for layer in map_layers %}
        <option class="map-controls__map-layer-item comparison-map" data-map-layer-title="{{ layer.layer_title }}" data-map-api-endpoints="{{ layer.map_api_endpoints }}" data-map-api="{{ era.map_api }}" data-map-wms-title="{{ era.map_wms_title }}">
          {{ layer.layer_title }}
        </option>
      {% endfor %}
    </select>
  </div>
  <div class="hds-text-input map-controls__mid-container hds-text-input">
    <select class="map-controls__map-layer comparison-map hds-text-input__input" aria-label="{{ 'Photo layer selector'|t({}, {'context' : 'Map selectors'}) }}"  data-placeholder="{{ 'Aerial photos'|t({}, {'context' : 'Map selectors'}) }}">
      {% for layer in photo_layers %}
        <option class="map-controls__map-layer-item comparison-map" data-map-layer-title="{{ layer.layer_title }}" data-map-api-endpoints="{{ layer.map_api_endpoints }}" data-map-api="{{ era.map_api }}" data-map-wms-title="{{ era.map_wms_title }}">
          {{ layer.layer_title }}
        </option>
      {% endfor %}
    </select>
  </div>
  <div class="hds-text-input map-controls__mid-container hds-text-input mobile">
    <select class="map-controls__map-layer main-map hds-text-input__input" aria-label="{{ 'Map layer selector'|t({}, {'context' : 'Map selectors'}) }}" data-placeholder="{{ 'Map layers'|t({}, {'context' : 'Map selectors'}) }}">
      <option disabled>
        {{ 'Maps'|t({}, {'context' : 'Map selectors'}) }}
      </option>
      {% for layer in map_layers %}
        <option class="map-controls__map-layer-item main-map" data-map-layer-title="{{ layer.layer_title }}" data-map-api-endpoints="{{ layer.map_api_endpoints }}" data-map-api="{{ era.map_api }}" data-map-wms-title="{{ era.map_wms_title }}">
          {{ layer.layer_title }}
        </option>
      {% endfor %}
      <option disabled>
        {{ 'Aerial photos'|t({}, {'context' : 'Map selectors'}) }}
      </option>
      {% for layer in photo_layers %}
        <option class="map-controls__map-layer-item main-map" data-map-layer-title="{{ layer.layer_title }}" data-map-api-endpoints="{{ layer.map_api_endpoints }}" data-map-api="{{ era.map_api }}" data-map-wms-title="{{ era.map_wms_title }}">
          {{ layer.layer_title }}
        </option>
      {% endfor %}
    </select>
  </div>
</div>
